@import url(css/bootstrap.min.css);

body {
  background:url("http://www.google.com/url?sa=i&source=images&cd=&cad=rja&docid=Y89CcP_YmHBHFM&tbnid=PbjGgw1-amOdJM:&ved=0CAgQjRwwADjIAQ&url=http%3A%2F%2Fbarnsdalltimes.com%2F%3Fp%3D825&ei=MHuBUt6dL6rh2wXRioH4BA&psig=AFQjCNG_fm44dZRagZXu0Db5Psj6l_ee8A&ust=1384303792855786") no-repeat center center fixed;
}
background-size:cover;

.bought-true
{
  text-decoration: line-through;
}
