<!DOCTYPE html>
<html>
<head>
    <title>Shopping List</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale =1.0">
    <script src="./lib/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/cssreset.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script src="./lib/angular.min.js" language="JavaScript" type="text/javascript"></script>
    <script src="./lib/jquery-2.0.3.min.js" language="JavaScript" type="text/javascript"></script>
    <script src="./js/List.js" type="text/javascript"></script>

</head>
<body>
    <div class="jumbotron" ng-app>
         <div class="title">
             <p>This Little Piggy Went to Market...</p>
         </div>
        <div class="boxtop">
            <img  class="piggy" src="img/pig.png" alt="food img">
             <p class="title">And This is What he Bought!</p>
         </div>

        <div class= "form" ng-controller="slctrl">
            <form ng-submit = "additem()">
              <input type="text" placeholder= "Market Item" ng-model = "itemtext">
              <input type ="submit" class="btn-primary">
              <input ng-click= "clear()" type ="button"  value= "Clean Up" class="btn-primary clean" >
            </form>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in itemlist">
                    <span ng-click="strike (item)" class="bought-{{item.bought}} inner">{{item.text}}</span></li>
            </ul>
        </div>
    </div>

</body>
</html>
